services:
  doctor-service:
    image: doctorimage:latest
    ports:
      - "8001:8001"
    secrets:
      - doctor_private_key
      - doctor_public_key

secrets:
  doctor_private_key:
    file: ./doctor_private_key
  doctor_public_key:
    file: ./doctor_public_key
